<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ListManager.Properties.Settings.ListManagerConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ListManager;Persist Security Info=True;User ID=sa;Password=w2k3oXPo2k;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="ListManager.Properties.Settings.ListManagerConnectionString1"
            connectionString="Data Source=BERNARDMWIN101;Initial Catalog=ListManager;User ID=sa;Password=w2k3oXPo2k;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ListManager.Properties.Settings.ListManagerConnectionString2"
            connectionString="Data Source=(local);Initial Catalog=ListManager;Persist Security Info=True;User ID=sa;Password=w2k3oXPo2k"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>